*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
}
.menu{
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
  margin-top: 30px;
}

.menu-item{
  width: 140px;
  position: relative;
}
.menu-item button{
  background-color: inherit;
  border: none;
  width: 100%;

}
.menu-item:hover > ul{
  padding: 0 10px;
  height: auto;
  opacity: 1;
  border-top: 1px solid red;
}
.menu-item ul {
  position: absolute;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 1s;
}
.menu-item ul .link{
  padding: 10px 5px;
  display: block;
  color: inherit;
}
.menu-item ul .link:active{
  color: inherit;
}

